<tr>
  <td bgcolor=#fafaf0><h3>{{message}}</h3></td>
</tr>

{{#each stories}}
  <tr>
    <td bgcolor=#fafaf0>
      </tr><table>{{text}}</td></tr>
       <h2><a href="/#{{id}}">{{url}}</a></h2>
  <div>{{body}}</div>
    </td></table>
  </tr>
{{/each}}




                                  {{!-- </span></td>
              </tr></table></td></tr>
<tr style="height:10px"></tr><tr><td><table border="0" cellpadding="0" cellspacing="0" class="itemlist">
              <tr class='athing' id='18066028'>
      <td align="right" valign="top" class="title"><span class="rank">1.</span></td>      <td valign="top" class="votelinks"><center><a id='up_18066028' onclick='return vote(event, this, "up")' href='vote?id=18066028&amp;how=up&amp;auth=0238b30bdb49e0a3aec3e8e487ef0dc0fa103cea&amp;goto=newest'><div class='votearrow' title='upvote'></div></a></center></td><td class="title"><a href="https://medium.com/@tygertec/bleeping-aliens-and-boom-ops-lessons-learned-producing-my-first-course-455babc07fb8" class="storylink" rel="nofollow">Bleeping Aliens and Boom Ops: Lessons learned producing my first course</a><span class="sitebit comhead"> (<a href="from?site=medium.com"><span class="sitestr">medium.com</span></a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
        <span class="score" id="score_18066028">1 point</span> by <a href="user?id=tygertec" class="hnuser">tygertec</a> <span class="age"><a href="item?id=18066028">0 minutes ago</a></span> <span id="unv_18066028"></span> | <a href="hide?id=18066028&amp;goto=newest&amp;auth=0238b30bdb49e0a3aec3e8e487ef0dc0fa103cea" onclick="return hidestory(event, this, 18066028)">hide</a> | <a href="https://hn.algolia.com/?query=Bleeping%20Aliens%20and%20Boom%20Ops%3A%20Lessons%20learned%20producing%20my%20first%20course&sort=byDate&dateRange=all&type=story&storyText=false&prefix&page=0" class="hnpast">past</a> | <a href="https://www.google.com/search?q=Bleeping%20Aliens%20and%20Boom%20Ops%3A%20Lessons%20learned%20producing%20my%20first%20course">web</a> | <a href="item?id=18066028">1&nbsp;comment</a>              </td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing' id='18066023'> --}}

                
