<tr>
  <td bgcolor=#fafaf0 class="faded-font">
      <div class="arrow-up"></div>
      <a href="/user/{{story.by.username}}">{{story.by.username}}</a>
      <span class="timeago" title="{{story.time}}"></span>
      | <a href="/item/{{story.id}}">parent</a>
  <br>
    <span style="padding-left: 2em;color: #000000;">
      {{story.text}}<br>
    </span><br><br>
  </td>
</tr>
<tr>
  <td bgcolor=#fafaf0>
    <form method="post" action="/comment">
      <input type="hidden" name="id" value="{{story.id}}">
      <input type="hidden" name="parentcomm" value="{{story.parent}}">
      <textarea name="text" rows="6" cols="60"></textarea>
      <br><br>
      <input type="submit" value="reply">
    </form>
    <br><br>
  </td>
</tr>
